body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
}

.box {
    max-width: 450px;
    height: auto;
    border: 2px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.boxform {
    display: flex;
    flex-direction: column;
    gap: 5px 5px;
}

.formlog {
    width: 300px;
    height: 20px;
    border-radius: 20px;
    padding: 20px;
    font-family:sans-serif;
}
.logbutton {
    background-color: rgb(28, 28, 28);
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.logbutton:hover {
    background-color: white;
    color: #000;
    cursor: pointer;
    border: solid 2px;
}

.carousel-item .card {
    width: 400px; /* Atur lebar card */
    margin: 0 auto; /* Pusatkan card di tengah */
    padding: 20px;
}
.carousel-control img {
    width: 30px;
    height: 30px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Mengatur warna latar belakang dan warna teks pada transaction-list-container */
.transaction-list-container {
    max-width: 100%; /* Membuat kontainer dapat discroll horizontal */
    overflow-x: auto; /* Mengaktifkan discroll horizontal */
    white-space: nowrap; /* Mencegah wrap konten transaksi */
    background-color: #222; /* Warna latar belakang keabu-abuan gelap */
    color: #fff; /* Warna teks putih */
    padding: 10px;
}

.transaction-list {
    display: inline-block; /* Menampilkan setiap transaksi dalam satu baris */
    white-space: nowrap; /* Mencegah wrap konten transaksi */
    list-style-type: none;
}
